/* SECCION Chips*/
.chip-info {
    height: 130px;
    display: flex;
    align-items: center;
    border: 2px solid var(--color2);
    filter: none;
    position: relative;
    margin-bottom: -10px;
    margin-top: -10px;
    
}

/*IMAGEN CHIP*/
.chip-info-img { 
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    display: block;
    border: 1px solid var(--color2);
    padding: 15px;
}

/* CUADRO del chip nombre*/
.chip-info-nombre {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--color2);
    min-width: 0;
    height: 100%;
}
/* NOMBRE chip */
.chip-info b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color2);
    padding: 5px 10px;
    color: var(--ac-color-3);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: monospace;
    flex-shrink: 0;
}

/* tipo de chip */
.chip-info b span {
    color: var(--color2);
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 1px;
}

/* DESCRIPCION DEl chip */
.chip-info-desc {
    color: var(--textobase);
    font-size: 13px;
    padding: 2px 10px;
    max-height: 100px;
    min-height: 50px;
    hyphens: auto;
    line-height: 1.4;
    overflow-y: auto;
    flex-grow: 1;
    word-wrap: break-word;
}

.chip-info-desc::-webkit-scrollbar {
    width: 6px;
}

.chip-info-desc::-webkit-scrollbar-track {
    background: var(--ac-color-2);
}

.chip-info-desc::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 2px;
    border: 1px solid var(--ac-color-2);
}
/* SUBTITULO */
.chip-tab-sb {  
    border-bottom: var(--ac-border);
    color: var(--ac-color-2);
    font: 500 30px var(--my-t);
    letter-spacing: 1px;
    line-height: 100%;
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: var(--ac-color-3);
}
/* CAJA TEXTO CON SCROLL */
.chip-box-text {
    background: rgb(0 0 0 / .2);
    border-bottom: 2px solid var(--ac-color-3);
    padding: 0px 15px 15px;
    max-height: 310px;
    overflow-y: auto;
    font: 15px Consolas;
    line-height: 1.5em;
    color: var(--ac-color-1);
}

/* SCROLL PERSONALIZADO (opcional pero bonito) */
.chip-box-text::-webkit-scrollbar {
  width: 6px;
}

.chip-box-text::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

.chip-box-text::-webkit-scrollbar-thumb {
  background: var(--ac-color-3);
}
